body {
    background-color: $background-color;
}

main {
    padding-top: 60px;
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
    color: $base-font-color;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
