@import '../../styles/helpers/variables';

h2 {
    line-height: 32px;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    h2 {
        color: $royal-blue;
    }
}

.nextPatient {
    margin: 20px;

    :global(.patientCard) {
        margin: 20px 0;
    }
}

.sessionsSchedule {
    width: 75vw;
    padding: 20px 40px;

    > div:last-child {
        height: calc(100% - 80px);
        margin: 0 auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
