.content-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
    min-width: 540px;
    max-width: 1140px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;

    .ant-breadcrumb {
        display: flex;
        justify-content: flex-end;
    }
}
