@import '../../styles/helpers/variables';

.addEventColumn {
    float: right;
}

.event {
    background: $denim-blue;
    border: 1px solid $denim-blue;
    border-radius: 4px;
}

div.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
