@import '../../styles/helpers/variables';

.infoRow {
    margin-bottom: 8px;

    > .label {
        text-transform: uppercase;
        font-weight: 600;
        color: $accent-font-color;
        font-size: 13px;
    }

    > .info {
        padding: 7px 0;
    }
}

.emergencyContactTitle {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.diagnosisCol {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}
