@import 'src/styles/helpers/variables';

.notSelectedClient {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: #bbb;
}

.clientRecord {
    width: 80vw;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.col65 {
    width: calc(65% - 20px);
    margin-right: 20px;
}

.col35 {
    width: 35%;
    padding-top: 47px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: flex;
    width: 50%;
    margin-bottom: 5px;
}

.legendCircle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 7px;
}

.sessionsSection table {
    width: 100%;

    thead th:nth-child(1),
    tbody td:nth-child(1) {
        width: 45px;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        width: 160px;
    }

    thead th:nth-child(4),
    tbody td:nth-child(4) {
        width: 70px;
    }
}

.assignmentsSection table {
    width: 100%;

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        width: 150px;
    }

    thead th:nth-child(3),
    tbody td:nth-child(3) {
        width: 150px;
    }

    thead th:nth-child(4),
    tbody td:nth-child(4) {
        width: 115px;
    }

    thead th:nth-child(5),
    tbody td:nth-child(5) {
        width: 90px;
    }
}

.recordsSection table {
    width: 100%;

    thead th:nth-child(3),
    tbody td:nth-child(3) {
        width: 70px;
    }
}

.assessmentsSection {
    width: 35%;
}

.name {
    display: flex;
    justify-content: space-between;

    h2 {
        color: $chambray-blue;
        font-size: 2.5rem;
        font-weight: $bold;
    }

    h4 {
        font-weight: $normal;
    }
}

.personalInfo {
    display: flex;
    flex-wrap: wrap;
}

.col {
    font-weight: $normal;
    width: 34%;
}

.row {
    margin-bottom: 10px;
    display: flex;
}

.title {
    width: 80px;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: $semibold;
    color: $chambray-blue;
}

.notes {
    max-width: 330px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cont {
    width: calc(100% - 96px);
}

.diagnosis {
    width: 100%;
    margin-top: 15px;

    ul {
        list-style-type: none;
        display: flex;
    }
    li {
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid $border-color;
    }

    li:last-child {
        border-right: none;
    }
}

.emergencyContact {
    width: 30%;
    margin-left: 10px;
    padding-left: 25px;
    border-left: 1px solid $border-color;

    strong {
        text-transform: capitalize;
    }
}

.emergencyNumber {
    display: flex;
    align-items: center;
    margin-top: 5px;
    i {
        font-size: 1.3rem;
        margin-right: 5px;
    }
}

.commentHeader {
    color: $chambray-blue;
    font-weight: $semibold;
    margin-right: 10px;
}

td.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
