@import 'src/styles/helpers/variables';

.saveAssignmentBtn {
    margin: 20px 10px 0 0;
    float: right;
}

.formName {
    padding: 13px 0;
    font-size: 22px;

    input {
        height: 36px;
    }
}

.formQuestions {
    height: calc(100% - 229px);
    overflow-y: auto;
}

.formItem {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    margin: 0 10px 15px 10px;

    .question {
        display: flex;
        justify-content: space-between;

        > div:first-child {
            width: 60%;
        }
        > div {
            width: 30%;
        }
    }
}

.addQuestion {
    display: flex;
    font-size: 96px;
    justify-content: center;
    align-items: center;
    border: 2px dashed mix($mystic-white, $silver, 55%);
    border-radius: 5px;
    color: mix($mystic-white, $silver, 50%);
    padding: 40px;
    margin: 20px 10px 20px 10px;
    width: calc(100% - 20px);
    background: transparent;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    label {
        // width: 250px;
        font-weight: $bold;
    }
}

.buttonsGroup > * {
    margin: 6px;
}
