@import 'src/styles/helpers/variables';

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.searchClient {
    position: relative;
    margin-bottom: 16px;

    label {
        position: absolute;
        left: 35px;
        top: 6.5px;
        margin-bottom: 0;
        font-size: 25px;
    }

    input {
        margin-left: 20px;
        padding-left: 50px;
        width: calc(100% - 50px);
    }
}

.clientsList {
    height: calc(100% - 126px);
    overflow-y: scroll;
    list-style-type: none;
}
