@import '../../styles/helpers/variables';

div.registerCard {
    align-self: center;
    margin: auto;
    width: 760px;
    padding: 40px;

    h2 {
        text-align: center;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    button {
        width: 140px;
        margin: 10px auto;
        display: block;
    }

    a {
        color: $mine-shaft-gray;
        font-weight: $semibold;
        display: inline-block;
        margin: 10px auto;
    }

    label {
        margin-left: 0;
        font-weight: $semibold;
    }
}

.registerForm > :global(.formGroup) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
