//
// Variables
//
// The font size set on the root html element.
$base-font-size: 13px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'rem' !default;

// The default font family.
$base-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// The font sizes for h1-h6.
$h1-font-size: 2 * $base-font-size !default;
$h2-font-size: 1.5 * $base-font-size !default;
$h3-font-size: 1.3 * $base-font-size !default;
$h4-font-size: 1.17 * $base-font-size !default;
$h5-font-size: 0.95 * $base-font-size !default;
$h6-font-size: 0.83 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false !default;

// Font-weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$white: #fff;
$gallery-white: #f0f0f0;
$chambray-blue: #2c567c; // !!
$denim-blue: #096dd9;
$big-stone-blue: #1a344a;
$mystic-white: #e9edf3;
$mine-shaft-gray: #2d2d2d;
$silver: #cacaca;
$black: #000;

$background-color: $gallery-white !default;
$input-background: $mystic-white !default;

$base-font-color: $black !default;
$accent-font-color: $denim-blue !default;
$input-font-color: $chambray-blue !default;

$border-color: $silver !default;

$border-radius: 0.23rem;
