@import 'src/styles/helpers/variables';

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    color: $royal-blue;
    padding-bottom: 10px;
}

tbody tr:nth-child(4n + 1),
tbody tr:nth-child(4n + 2) {
    background-color: $athens-gray;
}

td {
    text-align: center;
    padding: 10px 10px;

    button {
        margin: 0 auto;
    }
}

.pagination {
    padding: 0.5rem;
    float: right;

    input,
    select {
        display: inline-block;
        width: 100px;
    }

    span {
        letter-spacing: 1px;
        font-size: 1.3rem;
        color: $royal-blue;
    }
}

.expanded-row {
    width: 100%;
}

.expanded-row td {
    text-align: start;
    padding: 5px 20px 25px 20px;
}
